node_modules/
# Keep environment variables out of version control
.env

/generated/prisma

*.log
.DS_Store
dist/

# Local databases & uploads
prisma/dev.db
storage/*
!storage/master/
storage/master/*
!storage/.gitkeep
!storage/master/.gitkeep